{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Debug Sensorer</h2>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sensor ID</th>
                            <th>Værdi</th>
                            <th>Enhed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sensor in sensors %}
                        <tr>
                            <td>{{ sensor.id }}</td>
                            <td>{{ sensor.state }}</td>
                            <td>{{ sensor.unit }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
